<h1>Contact Me</h1>
<p>
    <h3>Phone Num</h3> <%= number_to_phone "+923129427884"%></p>
    <h3>Email</h3>
    <p> <a href="mailto:mghlisrar@gmail.com?subject=Mr.Israr" "email me"> Email Me  </a></p>
</p>